<div class="layout-topbar">
  <div class="layout-topbar-logo" >
      <img src="assets/layout/images/LOGOMARCA-BLACK.svg" alt="logo">
      <span>Shoes Clean</span>
  </div>

<div [ngClass]="{ 'layout-topbar-menu':layoutService.isDesktop() }"  >
    <button class="p-link layout-topbar-button " (click)="ngOnInit()" >
      <i class="pi pi-refresh"></i>
      <span>Actualizar</span>
    </button>
</div>

</div>



<div class="layout-main-container">
  <div class="layout-main">


    <div class="grid">


      <div class="col-12 lg:col-6 xl:col-2">
          <div class="card mb-0">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Sitema</span>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                  [ngClass]="{
                    'bg-cyan-100':systemHealth?.status=='UP',
                    'bg-red-100':systemHealth?.status!=='UP'
                }">
                      <i class="pi pi-desktop  text-xl"
                      [ngClass]="{
                        'text-cyan-500':systemHealth?.status=='UP',
                        'text-red-500':systemHealth?.status!=='UP'
                    }"
                       ></i>
                  </div>
              </div>
              <span *ngIf="systemHealth?.status=='UP'" class="text-cyan-500 font-medium"> Ativo</span>
              <span *ngIf="systemHealth?.status!=='UP'" class="text-red-500 font-medium">Inativo</span>

            </div>
      </div>


      <div class="col-12 lg:col-6 xl:col-2">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Base de dados</span>
                     <div class="text-400 font-medium text-600">{{systemHealth?.components?.db?.details?.database}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
                [ngClass]="{
                  'bg-cyan-100':systemHealth?.components?.db?.status=='UP',
                  'bg-red-100':systemHealth?.components?.db?.status!=='UP'
              }"
                >
                    <i class="pi pi-database text-xl"
                    [ngClass]="{
                      'text-cyan-500':systemHealth?.components?.db?.status=='UP',
                      'text-red-500':systemHealth?.components?.db?.status!=='UP'
                    }"
                    ></i>
                </div>
            </div>

            <span *ngIf="systemHealth?.components?.db?.status=='UP' " class="text-cyan-500 font-medium"> Ativo</span>
            <span *ngIf="systemHealth?.components?.db?.status!='UP' " class="text-red-500 font-medium">Inativo</span>

        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3">Disco Rígido</span>
                  <div class="text-400 font-medium text-600">24 Gb livres</div>
              </div>
              <div class="flex align-items-center justify-content-center  border-round"
               [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
               [ngClass]="{
                'bg-cyan-100':systemHealth?.components?.diskSpace?.status=='UP',
                'bg-red-100':systemHealth?.components?.diskSpace?.status!=='UP'
            }">
                  <i class="pi pi-inbox  text-xl"
                  [ngClass]="{
                    'text-cyan-500':systemHealth?.components?.diskSpace?.status=='UP',
                    'text-red-500':systemHealth?.components?.diskSpace?.status!=='UP'
                }"
                  ></i>
              </div>
          </div>

          <span *ngIf="systemHealth?.components?.diskSpace?.status=='UP' " class="text-cyan-500 font-medium"> Ativo</span>
          <span *ngIf="systemHealth?.components?.diskSpace?.status!='UP' " class="text-red-500 font-medium">Inativo</span>

      </div>

</div>


  <div class="col-12 lg:col-6 xl:col-2">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Serviço de Logs</span>
            </div>

            <div class="flex align-items-center justify-content-center border-round"
             [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
             [ngClass]="{
              'bg-cyan-100':systemHealth?.components?.loggingMonitoration?.status=='UP',
              'bg-red-100':systemHealth?.components?.loggingMonitoration?.status!=='UP'
          }">
                <i class="pi pi-file text-cyan-500 text-xl"
                [ngClass]="{
                  'text-cyan-500':systemHealth?.components?.diskSpace?.status=='UP',
                  'text-red-500':systemHealth?.components?.diskSpace?.status!=='UP'
              }"
                ></i>
            </div>
        </div>

        <span *ngIf="systemHealth?.components?.loggingMonitoration?.status =='UP'" class="text-cyan-500 font-medium"> Ativo</span>
        <span *ngIf="systemHealth?.components?.loggingMonitoration?.status!=='UP' " class="text-red-500 font-medium">Inativo</span>


    </div>
</div>


  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Tempo em Execução</span>
            </div>
            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                <i class="pi pi-clock text-cyan-500 text-xl"></i>
            </div>
        </div>
        <span class="text-cyan-500 font-medium" *ngIf="systemReadyTime"
        >{{ systemReadyTime.measurements[0].value | hourMinute}}</span>

    </div>
</div>


   <div class="col-12 xl:col-12">
          <div class="card">
              <h5>Requisições Recentes</h5>
              <p-table [value]="httpTraces" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Data/Hora</th>
                          <th >Método </th>
                          <th pSortableColumn="timeTaken">Tempo Gasto <p-sortIcon field="timeTaken"></p-sortIcon></th>
                          <th >Status </th>
                          <th pSortableColumn="uri">URI</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-trace>
                      <tr>
                          <td style="width: 15%; min-width: 5rem;">{{trace.timestamp | date}} </td>
                          <td style="width: 5%; min-width: 7rem;">{{trace.request.method}}</td>
                          <td style="width: 15%; min-width: 8rem;">{{trace.timeTaken +' ms'}}</td>
                          <td style="width: 10%; min-width: 8rem;">{{trace.response.status}}</td>
                          <td style="width: 35%;">  {{trace.request.uri}}</td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>

      </div>
    </div>



  </div>
</div>


