
<form (ngSubmit)="submitWorker()" [formGroup]="funcionarioForm">
<div class="grid">

  <div class="col-12 ">
		<div class="card">

      <div class="p-fluid">
			<h5>{{tittle}}</h5>

			<div class="field" >
				<label >Nome</label>
				<input pInputText type="text" formControlName="nome"  />
        <small *ngIf="funcionarioForm.get('nome')?.errors?.['required'] &&
        (funcionarioForm.get('nome')?.touched ||funcionarioForm.get('nome')?.dirty)" >O nome é obrigatório.</small>
			</div>

      <div class="field" >
				<label >Sobrenome</label>
				<input pInputText formControlName="sobrenome" />
        <small *ngIf="funcionarioForm.get('sobrenome')?.errors?.['required'] &&
        (funcionarioForm.get('sobrenome')?.touched ||funcionarioForm.get('sobrenome')?.dirty)" >O sobrenome é obrigatório.</small>
			</div>

      <div class="field">
				<label >Número de telefone</label>
				<input pInputText  type="text" formControlName="telefone"/>

        <div *ngIf="funcionarioForm.get('telefone')?.errors &&
        (funcionarioForm.get('telefone')?.touched ||funcionarioForm.get('telefone')?.dirty)">

        <small *ngIf="funcionarioForm.get('telefone')?.errors?.['required'] " >O número de telefone é obrigatório.</small>
        <small *ngIf="funcionarioForm.get('telefone')?.errors?.['phoneNumber'] &&
        !funcionarioForm.get('telefone')?.errors?.['required']" >O número de telefone está inválido.</small>

			</div>
      </div>

      <div class="field" *ngIf="!isEditing()" >
				<label >Palavra-passe</label>
				<input pInputText formControlName="password" type="password" />

        <small *ngIf="funcionarioForm.get('password')?.errors?.['required']
        &&
        (funcionarioForm.get('password')?.touched ||funcionarioForm.get('password')?.dirty)" >

        A Palavra-passe é obrigatório.</small>

        <small *ngIf="funcionarioForm.get('password')?.errors?.['minlength'] &&
        !funcionarioForm.get('password')?.errors?.['required']" >A Palavra-passe deve ter no minimo 6 caracteres.</small>
      </div>

      <div class="field" >
				<label htmlFor="cargo">Cargo</label>
			<p-dropdown [options]="cargos" optionLabel="descricao"
       optionValue="id" placeholder="Seleccione o cargo" formControlName="cargo_id" ></p-dropdown>

			</div>

    </div>

    <button pButton label="Guardar" type="submit"  [disabled]="funcionarioForm.invalid"></button>
		</div>

    <p-toast key="tst"></p-toast>

	</div>


</div>


</form>
