<p-dialog [(visible)]="isVisible" [header]="'Escrever mensagem para '+getPrimeiroNome(cliente.nome)"
[style]="{width: '40vw'}" position="center" [breakpoints]="{'960px': '75vw'}"  showEffect="fade">
<!-- -->
  <div class="grid">
    <div class="col-12">

      <div class="col-12">
  <textarea rows="3" [cols]=" layoutService.isDesktop()? '55': '28'" placeholder="Mensagem"
  [(ngModel)]="message"

  pInputTextarea ></textarea>
      </div>

    <div style="margin-left:12px ;">
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Marcar pedido como concluido" [(ngModel)]="markAsDone"></p-checkbox>
        <label for="ny">Marcar pedido como concluído</label>
      </div>

     <button pButton  class="p-button-secondary " [draggable]="true" (click)="sendMessage()" [disabled]="!message">
      <i class="pi pi-fw  pi-send"></i> Enviar
    </button>
  </div>
  </div>
</div>

</p-dialog>
