<div class="card mb-3">
  <div>
      <h2>Sobre</h2>
      <h4>Shoes Clean Notificator</h4>
      <p>shoes clean notificator é uma aplicação que permite notificar clientes e divulgar publicidade </p>
      <p>versão : <span class="text-primary font-medium">1.0</span> </p>

      <h4>Segestões e reportagem de erros</h4>
      <p>Email: <span class="text-primary font-medium">martinsgouveiamartins@gmail.com</span> </p>

        <h4>Informações do desenvolvedor</h4>
        <p>Nome: Onésimo Gouveia Martins</p>
        <p>Email: <span class="text-primary font-medium">onesimogouveiamartins@gmail.com</span> </p>
        <p>Linkdin: <span class="text-primary font-medium">martinsgouveiamartins@gmail.com</span> </p>


</div>
